.some {
	position: relative;
}

.some__content {
	display: flex;
	flex-wrap: wrap;
	
}

.some__column {
	width: 264px;
	height: 188px;
	margin-bottom: 24px;
	margin-right: 24px;
}

@media(max-width: 800px){
	.some__content {
		flex-direction: column-reverse;
		justify-content:center;
		align-items: center;
	}
	.some > .container > h1{
		display: flex;
		justify-content:center;
		align-items: center;
	}
}
